.body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Font */
.do-hyeon-regular {
    font-family: "Do Hyeon", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

/* Navbar */
.logo {
    height: 20%;
    position: absolute;
    left: 45%;
    top: 15px;
}

.navbar {
    background-color: #000675;
    padding: 1rem;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    padding-top: 20px;
}
.navbar-brand {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 20px;
    padding-left: 25px;
    font-family: "Do Hyeon", serif;
}
.nav-items {
    display: flex;
    background-color: #000D40;
    flex-direction: row;
    justify-content: center;
    gap: 9rem;
    padding: 1rem;
}
.nav-item {
    color: #FFFFFF;
    font-size: 1.1rem;
    text-align: center;
}
.nav-item:hover {
    background-color: #000675;
    border-radius: 5px;
}
.nav-item a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

.navbar input[type="search"] {
    max-width: 300px;
    margin-bottom: 15px;
}

.result-item {
    display: none; /* Ocultamos os itens por padrão */
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #f4f4f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.result-item.visible {
    display: block; /* Exibimos quando o item corresponde à busca */
}

.btn {
    margin-bottom: 15px;
    margin-right: 20px;
}
    
/* Banner */
.banner {
    position: relative; /* Para posicionar elementos dentro do container */
    width: 100%;
    height: 450px; /* Altura do banner (ajustável) */
    background: url('images/banner.png') no-repeat center center;
    background-size: cover; /* Faz a imagem ocupar toda a área */
    z-index: -1; /* Coloca o banner atrás dos outros elementos */
}

.banner .text {
    position: absolute; /* Para posicionar o texto dentro do banner */
    top: 50%; /* Centraliza verticalmente */
    right: 0px; /* Alinha o texto à direita com um espaçamento */
    transform: translateY(-50%); /* Ajusta para centralização perfeita */
    color: white; /* Cor do texto */
    font-size: 24px; /* Tamanho do texto */
    text-align: right; /* Alinhamento do texto */
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(10, 167, 4, 0.8)); /* Gradiente de transparente para preto */
    padding: 133px; /* Espaçamento interno do texto */
}

/* Mapa */
.map-title-div {
    display: flex;            /* Habilita o Flexbox */
    flex-direction: column;   /* Alinha os itens na vertical (coluna) */
    align-items: center;      /* Centraliza os itens horizontalmente */
    justify-content: center;  /* Centraliza os itens verticalmente (opcional) */
    text-align: center;       /* Centraliza o texto */
    margin: 20px;             /* Espaçamento externo (opcional) */
    margin-top: 80px;         /* Espaçamento superior */
}

.map-title {
    margin: 10px 0;           /* Adiciona espaçamento entre os títulos */
    color: #000D4F;           /* Cor do texto */
    font-weight: bold;        /* Texto em negrito */
    font-family: "Arial", sans-serif; /* Fonte personalizada */
}

.map-area {
    width: 1920px;
    height: 1940px;
    position: relative;
    left: 0px;
    top: 7px;
}

.centro {
    width: 859px;
    height: 852px;
    position: absolute;
    left: 625px;
    top: 363px;
}

.centro2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    object-fit: cover;
}

.açores {
    width: 851px;
    height: 758px;
    position: absolute;
    left: 173px;
    top: -49px;
}

.açores2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    object-fit: cover;
}

.algarve {
    width: 878px;
    height: 704px;
    position: absolute;
    left: 597px;
    top: 1304px;
}

.algarve2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    object-fit: cover;
}

.madeira {
    width: 665px;
    height: 888px;
    position: absolute;
    left: 223px;
    top: 1118px;
}

.madeira2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    object-fit: cover;
}

.alentejo {
    width: 816px;
    height: 861px;
    position: absolute;
    left: 683px;
    top: 821px;
}

.alentejo2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    object-fit: cover;
}

.lisboa {
    width: 841px;
    height: 746px;
    position: absolute;
    left: 270px;
    top: 816px;
}

.lisboa2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    object-fit: cover;
}
.norte {
    width: 871px;
    height: 829px;
    position: absolute;
    left: 755px;
    top: -105px;
}
.norte2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    object-fit: cover;
}

.map-area div:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.centro:hover {
    transform: scale(1.1);
    z-index: 1;
}

.açores:hover {
    transform: scale(1.1);
    z-index: 1;
}

.algarve:hover {
    transform: scale(1.1);
    z-index: 1;
}

.madeira:hover {
    transform: scale(1.1);
    z-index: 1;
}

.alentejo:hover {
    transform: scale(1.1);
    z-index: 1;
}

.lisboa:hover {
    transform: scale(1.1);
    z-index: 1;
}

.norte:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* Botões das regiões */
.region {
    background: none; /* Remove o fundo padrão dos botões */
    border: none; /* Remove a borda dos botões */
    padding: 0; /* Remove o padding */
    margin: 0; /* Remove o margin */
    cursor: pointer; /* Mostra o cursor de clique */
    position: absolute; /* Garante que eles sigam as posições do mapa */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

/* Efeito de hover: Ampliação e sombra */
.region:hover {
    transform: scale(1.1); /* Amplia a imagem em 10% */
}

/* Estilização para imagens dentro dos botões */
.region img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem se ajuste */
    display: block; /* Remove espaços indesejados */
}

/* Top6 */

.top-6 {
    width: 1920px;
    height: 684px;
    position: absolute;
    left: 0px;
    overflow-x: auto;
    scrollbar-color: #FFFFFF #FFFFFF;
}
.first {
    background: #d2d2d2;
    border-radius: 25px;
    width: 476px;
    height: 583px;
    position: absolute;
    left: 75px;
    top: 50px;
}
.second {
    background: #d2d2d2;
    border-radius: 25px;
    width: 476px;
    height: 583px;
    position: absolute;
    left: 622px;
    top: 50px;
}
.third {
    background: #d2d2d2;
    border-radius: 25px;
    width: 476px;
    height: 583px;
    position: absolute;
    left: 1169px;
    top: 50px;
}
.fourth {
    background: #d2d2d2;
    border-radius: 25px;
    width: 476px;
    height: 583px;
    position: absolute;
    left: 1716px;
    top: 50px;
}
.fifth {
    background: #d2d2d2;
    border-radius: 25px;
    width: 476px;
    height: 583px;
    position: absolute;
    left: 2263px;
    top: 50px;
}
.sixth {
    background: #d2d2d2;
    border-radius: 25px;
    width: 476px;
    height: 583px;
    position: absolute;
    left: 2810px;
    top: 50px;
    margin-right: 200px;
}

.top-6-title {
    margin-left: 90px;
}